.list-group
  %a.list-group-item{:href => edit_user_registration_path, class: active_class?(edit_user_registration_path)} Settings
  %a.list-group-item{:href => my_places_path, class: active_class?(my_places_path)} My Places

