// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.place-slider-wrapper {
  max-width: 640px;
  max-height: 426px;
  margin-left: auto;
  margin-right: auto;
}

.place-form-slider{
  margin: 10px 0px;
  .slider-box{
    border: 1px solid rgba(0,0,0,0.075);
    padding: 10px;
    margin-bottom: 5px;

    input{
      max-width: 250px;
      margin: 5px 0px;
    }
  }
  a{
    font-size: 15px;
    margin: 10px 0px;
    font-weight: bold;
  }
}