%script{:type => "application/ld+json"}
  {
  "@context": "http://schema.org/",
  "@type": "Place",
  "name": "#{@place.name}",
  "description": "#{@place.about}",
  "aggregateRating": {
  "@type": "AggregateRating",
  "ratingValue": "#{@place.average_rating}",
  "bestRating": "5",
  "ratingCount": "#{@place.rating_count}"
  }
  }
