<div id="footer" class="footer">
  <div class="container">
    <h6 align="center"><a href="">Contact Us</a>|<a href="">News</a>|<a href="">Cities</a>|<a href="">Add Your City</a>|<a href="">Add Place</a></h6>
  </div>
</div>
